<ion-content no-bounce>
    <main class="aus-login">
        <section class="aus-center-panel">
            <div class="fs-container tac">
                <header><a href="#"><img src="assets/images/logo-ausnimbus.svg" class="img-logo mt20" width="200"/></a></header>
                <div class="fs-box">
                    <div class="tac str-24 mb10">Register</div>
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="fs-form-group no-padding">
                            <input class="form-text" name="name" placeholder="Full Name" type="text" formControlName="name" focus-me/>
                            <validation-message [control]="registerForm.controls.name" [message]="'Name'" [formSubmitted]="isFormSubmitted"></validation-message>
                        </div>
                        <div class="fs-form-group no-padding">
                            <input class="form-text" name="email" placeholder="Email" type="text" formControlName="email" />
                            <validation-message [control]="registerForm.controls.email" [message]="'Email'" [formSubmitted]="isFormSubmitted"></validation-message>
                        </div>
                        <div class="fs-form-group no-padding">
                            <input name="password" type="password" class="form-text" placeholder="Password" formControlName="password" />
                            <validation-message [control]="registerForm.controls.password" [message]="'Password'" [formSubmitted]="isFormSubmitted"></validation-message>
                        </div>
                        <div class="fs-form-group no-padding">
                            <input class="form-text" name="company" placeholder="Company" type="text" formControlName="company" />
                        </div>
                        <div class="fs-form-group no-padding">
                            <select formControlName="country" class="form-text">
                                <option value="">Country</option>
                                <option *ngFor="let item of  coutries" [ngValue]="item">{{item}}</option>
                            </select>
                        </div>
                        <div class="fs-form-group no-padding tac error" *ngIf="error">
                            This email has already been taken.
                        </div>
                        <button ion-btn type="submit" class="btn fluid secondary">Sign up</button>
                    </form>
                </div>

                <div class="pt10 tac aus-register-link mb30">
                    Already member? login <a (click)="toLogin()">here</a>
                </div>
            </div>
        </section>
    </main>
</ion-content>